.modal-header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.modal-header h2 {
    flex-grow: 1;
    line-height: 1.2;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
