@use "@anori/components/utils.scss" as utils;

.WidgetCard-shell {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;

    .interaction-blocker {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    @include utils.compact {
        .remove-widget-btn {
            top: -8px;
            right: -4px;
        }

        .edit-widget-btn {
            top: 30px;
            right: -4px;
        }

        .drag-widget-btn {
            top: -8px;
            left: -4px;
        }

        .resize-handle {
            bottom: -8px;
            right: -4px;
        }
    }
}

.WidgetCard-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-overflow: ellipsis;
    position: relative;

    &.with-padding {
        padding: 1rem;
    }
}

.widget-action {
    position: absolute;
    z-index: 2;

    .material-symbols-outlined {
        font-size: 20px;
        line-height: 1;
    }
}

.remove-widget-btn {
    top: -14px;
    right: -14px;
}

.edit-widget-btn {
    top: 30px;
    right: -14px;
}

.drag-widget-btn {
    top: -14px;
    left: -14px;
    cursor: grab;
    touch-action: none;
}

.resize-handle {
    bottom: -14px;
    right: -14px;
    touch-action: none;
    cursor: grab;
}


.error-description {
    margin-top: 12px;
}
