.NewWidgetWizard {
    width: min(80vw, 1100px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 18px;
    padding-bottom: 18px;

    .wizard-topbar {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .search-input {
        width: 100%;
    }

    .two-column-content {
        display: flex;
        gap: 1rem;
        overflow: hidden;
    }

    .plugins-sidebar {
        width: 220px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        md-outlined-card {
            display: block;
            height: 100%;
        }

        .plugins-list {
            flex: 1;
            padding: 6px;
        }
    }

    .widgets-area {
        flex: 1;
        padding-right: 1rem;
    }

    .new-widget-content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        section {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .section-header {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .widgets-mock-background {
                border-radius: 16px;

                .widgets-mocks, .widgets-group {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    gap: 12px;
                    padding: 12px;
                    border-radius: 16px;

                    button {
                        text-align: start;
                    }

                    .WidgetCard-shell {
                        cursor: pointer;
                    }

                    .widget-name {
                        margin-top: 6px;
                        margin-left: 8px;
                        word-wrap: normal;
                    }
                }
            }
        }
    }
}

.NewWidgetWizard-wrapper {
    padding: 0px !important;

    .modal-header {
        padding: 24px;
        padding-bottom: 0px;
    }
}
